* {
  background-color: black;
  color: #FFD51D;

  }

.titleBar img {
font-family: 'Squada One', 'Orbitron';
text-align: center;
font-size: 45px;
margin: 0 auto;
position: relative;
display: block;
width: 41%;
height: auto;
margin-top: -1em;
}

h2 {
  font-family: 'Orbitron';
  font-size: 1.5vw;
  }

p {
    font-family: 'Orbitron';
    font-size: 30px;
    margin: 0 auto;
  }

#secondBar {
  text-align: center;
  font-size: 15px;
  margin-bottom: 2em;
  }

.dropDown {
  margin: 10px;
  width: 5.5vw;
  height: 1vw;
  background-color: white;
  color: black;
  }

.box {
  display: inline-block;
  width: 10vw;
  height: 10vw;
  text-align: center;
  vertical-align: top;
  border: 3px solid #200AFF;
  border-radius: 20%;
  padding: 3px;
  }

.nameForm {
  border-radius: 10%;
  width: 6.5vw;
  height: 1.4vw;
  background-color: white;
  color: black;
  }


.playerDetails {
  word-wrap: break-word;
  margin: 1vw .4vw 0 .4vw;
  padding: 0.5vw;
  margin: 1.5vw;
}

#symbol {
  font-size: 3vw;
}

.gameBoard {
  border-radius: 20%;
  margin: 0 auto; /* centers */
  border-spacing: 0px;


}

td {
  display: inline-block;
  position: relative;
  border: 6px solid #200AFF;
  height: 11vw;
  width: 11vw;
  border-radius: 7px;
  margin: 0 auto; /* centers */
  font-size: 8vw;
  text-align: center;
  font-family: 'Orbitron';
  color: #FFD51D;
}

td:hover {
  background-color: #FFD51D;
  cursor: crosshair;
}
