* {
  background-color: yellow;
  }

.titleBar h1 {
font-family: 'Squada One', 'Orbitron';
text-align: center;
font-size: 45px;
margin: 0;
}

p {
  font-family: 'Orbitron';
  font-size: 18px;
  }

#secondBar {
  text-align: center;
  font-size: 15px;
  margin-bottom: 14px;
  }

.dropDown {
  margin: 10px;
  width: 5.5vw;
  height: 1vw;
  background-color: white;
  }

.box {
  display: inline-block;
  width: 9vw;
  height: 9vw;
  text-align: center;
  vertical-align: top;
  border: 2px solid black;
  border-radius: 20%;
  }

input {
  border-radius: 10%;
  width: 6.5vw;
  height: 1.4vw;
  background-color: white;
  }


.playerDetails {
  word-wrap: break-word;
  margin: 1vw .4vw 0 .4vw;
  background-color: none;
}

#symbol {
  font-size: 2vw;
}

.gameBoard {
  /* left: 30vw;
  top: 2vw;
  border: 2px solid black; */
  border-radius: 20%;
  /* left: 30vw;
  top: 2vw; */
  margin: 0 auto; /* centers */
  border-spacing: 0px;


}

td {
  display: inline-block;
  position: relative;
  border: 2px solid black;
  height: 11vw;
  width: 11vw;
  border-radius: 7px;
}
